:import {
  -st-from: "../foundations/typography.st.css";
  -st-named: T06;
}

:import {
  -st-from: "../../../CustomModalLayout/CustomModalLayout.st.css";
  -st-default: CustomModalLayout;
}

:vars {
  /* Techincally, this could be transformed to CSS Variables, this is an API example which should be thinked */
  iconButtonSize: 12px;
  borderRadius: 4px;
  contentHorizontalPadding: 24px;
  header_contentVerticalPadding: 16px;
  content_contentVerticalPadding: 0;
}

.root {
  -st-extends: CustomModalLayout;
}

.root {
  border-radius: value(borderRadius);
}

.root::header::innerContent {
  padding: value(header_contentVerticalPadding) value(contentHorizontalPadding);
}

.root::header::title {
  -st-mixin: T06();
}

.root::controlButtons {
  top: value(header_contentVerticalPadding);
  right: value(contentHorizontalPadding);

  /* Making these as CSS Vars could be quite ugly */
  height: 24px;  
  align-items: center;
}

.root::closeButton {
  margin-left: 12px;
  width: value(iconButtonSize);
  height: value(iconButtonSize);
}

.root:not(:removeContentPadding)::content::innerContent {
  padding: value(content_contentVerticalPadding) value(contentHorizontalPadding);
}

.root::closeButton, .root::helpButton {
  width: value(iconButtonSize);
  height: value(iconButtonSize);
}
